@model LoginViewModel
@{
    ViewBag.Title = "Giris";
    Layout = "~/Views/_LayoutPage.cshtml";
    ViewBag.ContainerClass = "contact-page";
}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="widget">
                <div class="widget-body">
                    <span class="text text-danger">@Html.ValidationSummary()</span>
                    @using (Html.BeginForm("Giris", "Hesap", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(x => x.NameEmail)
                                @Html.TextBoxFor(x => x.NameEmail, new { @class = "form-control" })
                                <span class="text text-danger">
                                    @Html.ValidationMessageFor(x => x.NameEmail)
                                </span>
                            </div>
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(x => x.Password)
                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password" })
                                @Html.ValidationMessageFor(x => x.Password)
                            </div>
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(x => x.RememberMe)
                                @Html.CheckBoxFor(x => x.RememberMe)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <p>
                                    <input type="submit" class="btn-success" value="Giriş Yap" />
                                </p>
                                <p>
                                    <a href="@Url.Action("SifremiUnuttum","Hesap")" class="btn theme-btn">Şifremi Unuttum</a>
                                </p>
                            </div>
                        </div>
                    }

                </div>
                <!-- end: Widget -->
            </div>
            <!-- /REGISTER -->
        </div>
        <!-- WHY? -->
        <div class="col-md-4">
            <h4>Arıza kaydı oluşturmak için giriş yapmalısın.</h4>
            <hr>
            <img src="~/images/tamirci.jpg" alt="" class="img-fluid">
            
            
        </div>
    </div>
</div>



