<div class="footer-area">
    <div class=" footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>About us </h4>
                        <div class="footer-title-line"></div>
                        <img src="~/assets/img/footer-logo.png" alt="" class="wow pulse" data-wow-delay="1s">
                        <p>Choose The best technical Service in your area by using MTS</p>
                        <ul class="footer-adress">
                            <li><i class="pe-7s-map-marker strong"> </i> Our Location</li>
                            <li><i class="pe-7s-mail strong"> </i> MTS@MTS.com</li>
                            <li><i class="pe-7s-call strong"> </i> +90 212 550 75 75</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>Quick links </h4>
                        <div class="footer-title-line"></div>
                        <ul class="footer-menu">
                            <li><a href="@Url.Action("Index","Main")">Home</a>  </li>
                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                <li><a href="@Url.Action("Profilim","Hesap")">Profile</a></li>
                                <li><a href="@Url.Action("ArizaKayitSayfasi","Musteri")" >Make new fault</a></li>
                                <li><a href="@Url.Action("ArizaKayitlariGoruntuleme","Musteri")" >Last Faults</a></li>
                            }
                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>Last News</h4>
                        <div class="footer-title-line"></div>
                        <ul class="footer-blog">
                            <li>
                                <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                    <a href="single.html">
                                        <img src="~/assets/img/demo/small-proerty-2.jpg" />
                                    </a>
                                    <span class="blg-date">12-12-2016</span>
                                </div>
                                <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                    <h6> <a href="single.html">Add news functions </a></h6>
                                    <p style="line-height: 17px; padding: 8px 2px;">Last recommendations and advices</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                    <a href="single.html">

                                        <img src="~/assets/img/demo/small-property-1.jpg" />
                                    </a>
                                    <span class="blg-date">12-12-2016</span>
                                </div>
                                <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                    <h6> <a href="single.html">Add news functions </a></h6>
                                    <p style="line-height: 17px; padding: 8px 2px;">Last recommendations and advices</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                    <a href="single.html">
                                        <img src="~/assets/img/demo/small-property-3.jpg" />
                                    </a>
                                    <span class="blg-date">12-12-2016</span>
                                </div>
                                <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                    <h6> <a href="single.html">Add news functions </a></h6>
                                    <p style="line-height: 17px; padding: 8px 2px;">Last recommendations and advices</p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer news-letter">
                        <h4>Stay in touch</h4>
                        <div class="footer-title-line"></div>
                        <p>Please feel free to contact us via contact panel</p>
                        <form>
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="E-mail ... ">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary subscribe" type="button"><i class="pe-7s-paper-plane pe-2x"></i></button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </form>
                        <div class="social pull-right">
                            <ul>
                                <li><a class="wow fadeInUp animated" href="https://twitter.com/kimarotec"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://www.facebook.com/kimarotec" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://plus.google.com/kimarotec" data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.6s"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copy text-center">
        <div class="container">
            <div class="row">
                <div class="pull-left">
                    <span> (C) <a href="http://www.KimaroTec.com">KimaroTheme</a> , All rights reserved 2016  </span>
                </div>
                <div class="bottom-menu pull-right">
                    <ul>
                        <li><a class="wow fadeInUp animated" href="@Url.Action("Index","Main")" data-wow-delay="0.2s">Home</a></li>

                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <li><a class="wow fadeInUp animated" href="@Url.Action("Profilim","Hesap")" data-wow-delay="0.3s">Profile</a></li>
                            <li><a class="wow fadeInUp animated" href="@Url.Action("ArizaKayitSayfasi","Musteri")" data-wow-delay="0.4s">Make an appointment</a></li>
                            <li><a class="wow fadeInUp animated" href="@Url.Action("ArizaKayitlariGoruntuleme","Musteri")" data-wow-delay="0.6s">Last Faults</a></li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>