@model LoginViewModel
@{
    ViewBag.Title = "Enter the system";
    Layout = "~/Areas/Yonetim/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="widget">
                <div class="widget-body">
                    <span class="text text-danger">@Html.ValidationSummary()</span>
                    @using (Html.BeginForm("Giris", "User", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Mail or Username</label>
                                @Html.TextBoxFor(x => x.NameEmail, new { @class = "form-control" })
                                <span class="text text-danger">
                                    @Html.ValidationMessageFor(x => x.NameEmail)
                                </span>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Password</label>
                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password" })
                                @Html.ValidationMessageFor(x => x.Password)
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Remember Me</label>
                                @Html.CheckBoxFor(x => x.RememberMe)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <p>
                                    <input type="submit" class="btn theme-btn" value="Sign in" />
                                </p>
                                <p>
                                    <a href="@Url.Action("SifremiUnuttum","User")" class="btn theme-btn">Forgot my Password</a>
                                </p>
                            </div>
                        </div>
                    }

                </div>
                <!-- end: Widget -->
            </div>
            <!-- /REGISTER -->
        </div>
        <!-- WHY? -->
    </div>
</div>
